body{
    background-color:lightblue;
  }

.title{
    text-align: center;
    font-size: 100px;
    color:royalblue;
  }

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:lightyellow;
    padding: 2rem;
    border-style: dotted;
    border-width: 10px;
    border-color: darksalmon;
  }

div.container {
    height: 400;
    width: 40%;
    padding: 3rem;
    border: 1px solid #ccc;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    border: hidden;
    }

.text{
      font-size: 30px;
      color: darksalmon;
    }
