* {
  background-color: blanchedalmond;
}
.heading {
  color: cadetblue;
}

h2 {
  color: darkcyan;
}

ol {
  font-size: 20px;
}

table, th, td {
  font-style: oblique;
  border-style: double;
  border: 2px solid chocolate;
  color: darkgreen;
}

thead {
  font-size: 25px;
  color: rgb(161, 118, 201);
}

tbody {
  font-size: 20px;
}
img{
  height: 250px; 
  width:250px; 
  border: 10px solid chocolate;
}
